body {
  margin: 0;
  font-family: monospace;
  background-image:url("New-Year-2019-Transparent-Background.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: static;
  background-blend-mode: lighten;
}

#theme-header {
  display: flex;
  justify-content: left;
  background: rgb(4, 61, 77);
  height: 5rem;
  padding: 1rem;
}

#theme-header h1 {
  height: 6rem;
  width: auto;
  font-family: "Shadows Into Light", cursive;
  color: rgb(241, 235, 205);
}

#theme-array {
  margin: 2rem;
}

/* .year-img {
  background-image:url("New-Year-2019-Transparent-Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 15rem;
  display: inline-grid;
  margin: 1rem 3rem;
  box-shadow: 3px 4px #124b7a
}

.hide {
  display: none;
}

button {
  position: inherit;
  background-color: #073b78;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: fill-available;
  color: rgb(241, 235, 205);
  font-size: 18px;
  justify-self: center;
}

button:hover {
  background-color: rgb(241, 235, 205);
  border: #063f82 solid 1px;
  color: #063f82;
}

p span
{
    display: grid;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  background: rgb(241, 235, 205);

}

.add-theme-form {
  width: 80%
}

.submit {
  position: relative;
  background-color:#063f82;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: rgb(241, 235, 205);
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
  border:2px solid black;
}

.jscolor {
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  margin: 3px;
  font-size: 15px;
  border:2px solid black;
  color: rgb(241, 235, 205);
}

.submit:hover {
  background-color: whitesmoke;
  border: #0e528a solid 1px;
  color: #0e528a;
}


.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: monospace;
  margin: 3px;
}
